<form action="/parse" id="form">
    <input type="text" name="url" id="url" placeholder="Enter user videos or playlist URL..." />
    <div id="options">
        Total returned: <input type="text" name="total" value="50" />
        Offset: <input type="text" name="offset" value="1" />
    </div>
    <button type="submit">Parse Video Links</button>

    <div id="links">
        <em>No data</em>
    </div>
</form>