<h2>Instructions</h2>
<ol>
    <li>Copy user video page or playlist into text box above</li>
    <li>Click button to generate list of links for that page</li>
    <li>Copy and paste the list of URLs from the box into an email, sent to your Plex list email address</li>
    <li>Plex will automatically parse the links from the email body and add them to your queue</li>
</ol>