<h2>Notes</h2>
<ul>
    <li>Basic Youtube and Vimeo links are supported at this time</li>
    <li>If this is used for folks, I'll update the UI with better features</li>
    <li>The Youtube API will only let me pull 50 records at a time</li>
    <li>Please send feedback using the links below and thanks for checking it out!</li>
</ul>