<h2>Supported Formats</h2>
<ul>
    <li>Youtube
        <ul>
            <li>User videos (e.g., <em>http://www.youtube.com/user/ericvdunn/videos</em>)</li>
            <li>Playlists (e.g., <em>http://www.youtube.com/playlist?list=PLStC43yAV6zSk6WF76yHmdFbDDYhzMjlF</em>)</li>
            <li>Course playlists (e.g., <em>http://www.youtube.com/course?list=EC245B82FF8F8ECAC2)</em></li>
        </ul>
    </li>
    <li>Vimeo
        <ul>
            <li>User videos (e.g., <em>https://vimeo.com/scienceatnasa</em>)</li>
        </ul>
    </li>
</ul>