<h2>Updates</h2>
<ul>
    <li><strong>8/2/2013</strong> - Fixed parsing to support HTTPS and non-standard Youtube and Vimeo links. Added rough support for option to generate email with links (i.e., may be buggy!).</li>
</ul>