<h2>Updates</h2>
<ul>
    <li><strong>8/27/2013</strong> - Added project to Github: <a href="https://github.com/marriedgeek/plexparser" target="_blank">https://github.com/marriedgeek/plexparser</a></li>
    <li><strong>8/2/2013</strong> - Fixed parsing to support HTTPS and non-standard Youtube and Vimeo links. Added rough support for option to generate email with links (i.e., may be buggy!).</li>
</ul>